.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }
  
  .app-name {
    margin: 0;
  }
  
  .user-actions {
    display: flex;
    align-items: center;
  }
  
  .user-actions span {
    margin-right: 20px;
  }
  
  .user-actions a, .user-actions button {
    color: white; /* Ensure link text is white */
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .user-actions a:hover, .user-actions button:hover {
    background-color: #555;
  }
  
  .user-actions a {
    margin-right: 10px;
  }
  