.login-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;  
    flex-direction: column; /* Arrange items in a column */
    text-align: center; /* Center the text */
    background: linear-gradient(to right, #ec9696, #9ad78c);
  }
  
  .login-page h1 {
    margin-bottom: 20px; /* Add some space between the heading and the button */
  }
  
  .login-page button {
    padding: 10px 20px; /* Add some padding for a better look */
    font-size: 16px; /* Increase font size for better readability */
    cursor: pointer; /* Change cursor to pointer on hover */
  }
 
  